{
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "semi": true,
    "printWidth": 120,
    "trailing-comma": [
      true,
      {
        "singleline": "never",
        "multiline": {
          "objects": "always",
          "arrays": "always",
          "typeLiterals": "ignore"
        },
        "esSpecCompliant": true
      }
    ]
  }