.right{
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
}

.container{
    max-width: 900px;
}

.bgcolor{
    background-color: rgb(234, 248, 225);
}
.cart-emty{
    padding-top: 100px;
}
mat-header-cell {
    display:flex;
    justify-content: flex-start;
    font-size: larger;
   }
 mat-cell {
    display:flex;
    justify-content: flex-start;
    padding-left: 7px;
   }
 mat-form-field{
     width: 100%;
 }

