<div class="container" *ngIf="cartProducts.length; else empty">
    <h2 class="text-center">Your order:</h2>

    <mat-table [dataSource]="dataSource" class="bgcolor">
        <!-- Type  Column-->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type  </mat-header-cell>
          <mat-cell *matCellDef="let r"> {{r.type}} </mat-cell>
        </ng-container>
      
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let r"> {{r.title}} </mat-cell>
        
        </ng-container>
       
         <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
            <mat-cell *matCellDef="let row" >
                 <button mat-button color="primary" (click)="delete(row)">Delete</button>
            </mat-cell>
          </ng-container>

         <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let r"> {{r.price}} </mat-cell>
        </ng-container>
      
        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
         <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    <hr>
    <b class="right">Total: {{totalPrice}} $</b>

    <h2 class="text-center">Delivery:</h2>


    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-control">
          <mat-form-field appearance="fill" >
            <mat-label  for="name">Name</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput id="name" type="name" formControlName="name">
            <div *ngIf="form.get('name').touched && form.get('name').invalid" class="validation">
                <small *ngIf="form.get('name').errors.required">Enter your name</small>
            </div>
          </mat-form-field> 
        </div>

        
        <div class="form-control">
            <mat-form-field appearance="fill">
                <mat-label  for="phone">Phone number</mat-label>
                <mat-icon matPrefix>phone</mat-icon>
                <input matInput id="phone" type="phone" formControlName="phone">
                <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class="validation">
                    <small *ngIf="form.get('phone').errors.required">Enter your phone number</small>
                </div>
              </mat-form-field> 
          </div>

        
        <div class="form-control">
            <mat-form-field appearance="fill">
                <mat-label  for="address">Addres</mat-label>
                <mat-icon matPrefix>home</mat-icon>
                <input matInput id="address" type="address" formControlName="address" autocomplete="off">
                <div *ngIf="form.get('address').touched && form.get('address').invalid" class="validation">
                    <small *ngIf="form.get('address').errors.required">Enter your address</small>
                </div>
              </mat-form-field>
        </div>
        
        <div class="form-control">
            <mat-form-field appearance="fill">
            <mat-label for="payment">Payment method:</mat-label>
            <mat-icon matPrefix>payments</mat-icon>
            <mat-select formControlName="payment">
                <mat-option value="Cash">Cash</mat-option>
                <mat-option value="Card">Card</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button mat-stroked-button  color="accent" type="submit" class="btn btn-primary  btn-block text-center" [disabled]="form.invalid || submitted">Add</button>
        
    </form>
    <div *ngIf="added" class="text-center text-danger">{{ added }}</div>
</div>

<ng-template #empty>
  <div class="cart-emty"><h2 class="text-center">Cart is empty, select product</h2></div>
</ng-template>

