.right{
    display: flex;
    justify-content: flex-end;
}

.container{
    max-width: 900px;
}

.bgcolor{
    background-color: rgb(245, 199, 192);
}
.cart-emty{
    padding-top: 100px;
}
mat-header-cell {
    display:flex;
    justify-content: flex-start;
    font-size: larger;
   }
 mat-cell {
    display:flex;
    justify-content: flex-start;
   }
 mat-form-field{
     width: 100%;
 }

