.mobile {
	min-width: 110px;
	font-size: x-large;
}
input {
	width: 50%;
	justify-self: end;
}
ul {
	align-self: center;
}
button {
	height: 40px;
}
.fixed {
	position: fixed;
	width: 100%;
	z-index: 2;
}
.container-product {
  padding-top: 4%;
  padding-right: 1%;
  padding-left: 1%;
}
.mobile-menu {
	display: none;
}
.mat-badge {
	position: fixed;
}
@media (max-width: 767px) {
	ul {
		display: none;
	}
	input {
		width: 65%;
		justify-self: end;
	}
	.container-product {
		padding-top: 15%;
	}
	.mobile-menu {
		display: block;
	}
	.mat-badge {
		position: relative;
	}
}
