.product {
  padding-bottom: 2rem;
	.header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	h2 {
		margin-bottom: 0.5rem;
	}
}

.flex {
	display: flex;
}

.item {
	width: 50%;
}

.btn {
	background-color: var(--btn-bgcolor);
	color: var(--btn-color);
}
